<!DOCTYPE html>
<html>
  <head>
    <title>Eventbrite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<div style="
      background-size: contain; 
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-image: url(https://images.healthshots.com/healthshots/en/uploads/2021/08/13105537/gossiping-2-770x433.jpg)" class="bg-cover">

          <div class="container py-5 text-center">
              <h1 class="display-4 text-black font-weight-bold bg-white mb-5" style="font-family: 'Bebas Neue', cursive;">Eventbrite</h1>
              <a href="http://localhost:3000/" role="button" class="btn btn-light px-5">Accueil</a>
              <a href="http://localhost:3000/team" role="button" class="btn btn-light px-5">Créer un event</a>
            
              <% if current_user %>
                <a href="#" role="button" class="btn btn-light px-5">Ton profil</a>
                <a href="#" role="button" class="btn btn-light px-5">Se déconnecter</a>

              <%else %>
                <a href="#" role="button" class="btn btn-light px-5">S'inscrire</a>
                <a href="#" role="button" class="btn btn-light px-5"> Se connecter</a> %>
              <%end%>
              
          </div>
      </div>
  <body>
    <%= yield %>
  </body>
</html>
